body {
  background-color: white;
  color: #c20d0d;
  font-family: Arial, sans-serif;
  padding-top: 50px;
  text-align: center;
}

button {
  background-color: #292a2b;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  height: 90px;
  width: 150px;
}

#name-header {
  font-size: 45px;
}

.stats-div {
  font-size: 45px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: auto;
  margin-top: 100px;
  max-width: 750px;
  text-align: center;
}

.upload-div {
  margin-top: 200px;
}

#add-bets-button {
  background-color: goldenrod;
  font-size: 40px;
  height: 100px;
  width: 200px;
}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
}

#show-bets-button {
  background-color: #c20d0d;
  width: 200px;
}

#show-teams-stats-button {
  background-color: #c20d0d;
  width: 200px;
}