body {
  background-color: white;
  color: #c20d0d;
  font-family: Arial, sans-serif;
  padding-top: 50px;
  text-align: center;
}

button {
  background-color: #292a2b;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 25px;
  height: 90px;
  width: 150px;
}

#name-header {
  font-size: 45px;
}

.stats-div {
  font-size: 45px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: auto;
  margin-top: 100px;
  max-width: 750px;
  text-align: center;
}

.upload-div {
  margin-top: 100px;
}

#add-bets-button {
  background-color: goldenrod;
  font-size: 40px;
  height: 100px;
  width: 200px;
}

#refresh-bets-button {
  background-color: #0d89c2;
  font-size: 30px;
  height: 100px;
  width: 200px;   
}

.bets-div{
  margin-top: 80px;
}

#show-bets-button {
  background-color: #13c20d;
  width: 200px;
}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

#show-teams-stats-button {
  background-color: #c20d0d;
  width: 200px;
}

#show-teams-stats-detailed-button {
  background-color: #c20d0d;
  width: 200px;
}

.season-div {
  margin-top: 30px;
  gap: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#season-select {
  font-size: 20px;
  height: 20 px;
}