body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  background-color: white;
  color: #c20d0d;
}

#betsLabel{
  font-family: Arial, sans-serif;
  font-size: 70px;
  text-align: center;
  background-color: white;
  color: #c20d0d;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  border-color: black;
}

.bets-div{
  font-size: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 200px;
}

.stats-div{
  font: 70px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);

}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  justify-items: center;
  max-width: 300px;
  margin: auto;
  margin-top: 400px;
  padding-top: 40px;
}

#betsBtn {
  background-color: #c20d0d;
  color: white;
  height: 60px;
  width: 200px;
}

#teamsBtn {
  background-color: #c20d0d;
  color: white;
  height: 60px;
  width: 200px;
}

#refreshBetBtn {
  background-color: #292a2b;
  color: white;
  height: 60px;
  width: 100px;

}

#refreshTeamsBtn {
  background-color: #292a2b;
  color: white;
  height: 60px;
  width: 100px;
}